*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height:100vh;
    width: 100%;
    position: relative;/*tt*/
    background: #000;
}
.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.logo img{
    width: 70px;
    cursor: pointer;
    margin: 35px 0;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color:#eea16d;
    font-size: 17px;
    padding: 8px;
}
nav ul li a:hover{
    color: #fff;
    border-bottom: 3px solid #eea16d;
}
.content-row{
        width: 85%;
        display: flex;
        align-items: center;
        margin: auto;
}
.left-col, .right-col{
    flex-basis: 50%;
}
.left-col{
    padding: 50px;
    
}
.search{
    width: 360px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    box-sizing: border-box;
    border: 1px solid #eea16d;
    border-radius: 20px;
}
.search img{
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.5;/*iiii*/
}
.search input{
    width: 100%;
    outline: none;
    border: 0;
    color: #999;
    background: transparent;/*lll*/
    font-size: 18px;
}
hr{
    width: 360px;
    height: 6px;
    background: #eea16d;
    margin: 30px 0;
    border: none;
}
h1{
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
}
p{
    color: #999;
    margin: 30px 0;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;/*iii*/
    text-justify: inter-word;
}
.indicator{
    display: flex;
}
span{
    width: 5px;
    height: 5px;
    border: 1px solid #eea16d;
    border-radius: 50%;
    margin-right: 5px;
}
.active{
    background: #eea16d;
}
.right-col img{
    width: 89%;
    margin-left: 50px;
}
.main{
    height: auto;
    width: auto;
    position: relative;
    background: #191513;
}
.social-links{
    position: absolute;/*lll*/
    right: 30px;
    top: 73%;
    transform: translateY(-50%)
}
.social-links img{
    width: 20px;
    display: block;
    margin: 30px 0;
}
.item img{
    width: 100%;
    height: 100%;
}
.information {
    
    padding: 70px;

}
.back{
    border: 2px solid #eea16d;
    width: fit-content;
    padding: 15px;
    background-color: #191513;
    margin-left: 70px;
    
}
.back a{
    text-decoration: none;
    color: #999;
    font-size: 20px;
    padding: 5px;
}
.back a:hover{
    color: #fff;
    border-bottom: 3px solid #eea16d;
}

.home-demo{
    background: #15110f;
}
.home-demo .item {
    
    background:#15110f;
    color: #eea16d;
    font-size: 25px;
    letter-spacing: 2px;

    
}

.home-demo .back {

    border: 2px solid #eea16d;
    width: fit-content;
    padding: 15px;
    background-color: #060402;
    margin-right: 1030px;
    
}



.owl-carousel .owl-item img {
    display: block;
    width: 70% !important;
}

.main{
  max-width: 1000px;
  width: 100%;
  background: #000;
  padding: 40px;
  margin: 20px auto;
  align-items: center;
  box-shadow: 1px 1px 5px 5px #eea16d;
  position: relative;

}
.section-title{
  text-align: center;
  margin-bottom: 130px;
}



.section-title h2{
  text-transform: capitalize;
  font-size: 30px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-family: 'italianno', cursive;
  color: #eea16d;
}

.menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
}
.menu-column{
  width: 50%;

}
.menu-column h3{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 30px;
color: #eea16d;
}

.single-menu{
  display: flex;
  align-items: center;
  margin-top: 10px ;
  margin-left: 50px;
}
.single-menu img{
  border-radius: 0%;
  max-width: 160px;
  border: 20px ;
  padding: 8px;
  margin-right: 25px;
  transition: .8s;
}
.single-menu img:hover{
  transform: scale(3.6);
  z-index: 2;
  
}
.single-menu .menu-content h4{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 2px dashed rgb(107, 48, 48);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
form{
    width: 100%;
    margin-top: 10px;
    margin-left: -30px;
}

form .input1{
    margin: 10px;
    display: flex;
    align-items: center;
}
form .input1 label{
    width: 150px;
    color:#865b3f;
    margin-right: 10px;
    font-size: 25px;
}
form .input2 label{
    width: 150px;
    color:#eea16d;
    margin-right: 10px;
    font-size: 25px;
}
form .input2 p{
    width: 150px;
    color:#eea16d;
    margin-right: 33px;
    font-size: 25px;
    font-weight: bold;
}


form .input1 .ordernow{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #e2c058;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;

}

form .input1 .ordernow:hover{
    background: #ffd658;
}
form .input1 .warda{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #eea16d;
    color: #0e0d0d;
    cursor: pointer;
    border-radius: 4px;
    outline: none;

}

form .input1 .warda:hover{
    background: rgb(225, 223, 221);
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #eea16d;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}


.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #060606;
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #eea16d;
  border: 1px solid #f4d040;
}

 

